<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AdminServ</servlet-name>
        <servlet-class>AdminServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeptServ</servlet-name>
        <servlet-class>AddDeptServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocServ</servlet-name>
        <servlet-class>AddDocServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDocServ</servlet-name>
        <servlet-class>DelDocServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDeptServ</servlet-name>
        <servlet-class>DelDeptServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDocServ</servlet-name>
        <servlet-class>UpdateDocServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestServ</servlet-name>
        <servlet-class>AddTestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelTestServ</servlet-name>
        <servlet-class>DelTestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecTestServ</servlet-name>
        <servlet-class>RecTestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpTestServ</servlet-name>
        <servlet-class>UpTestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBedServ</servlet-name>
        <servlet-class>AddBedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelBedServ</servlet-name>
        <servlet-class>DelBedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodServ</servlet-name>
        <servlet-class>AddBloodServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchBloodServ</servlet-name>
        <servlet-class>DispatchBloodServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPathPatientServ</servlet-name>
        <servlet-class>AddPathPatientServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePathPatientServ</servlet-name>
        <servlet-class>UpdatePathPatientServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocatePathTestServ</servlet-name>
        <servlet-class>AllocatePathTestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PathReportServ</servlet-name>
        <servlet-class>PathReportServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorScheduleServ</servlet-name>
        <servlet-class>AddDoctorScheduleServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServ</servlet-name>
        <servlet-class>PDFServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServ1</servlet-name>
        <servlet-class>PDFServ1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PathBillPDFCall</servlet-name>
        <servlet-class>PathBillPDFCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeServ</servlet-name>
        <servlet-class>NoticeServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorScheduleServ1</servlet-name>
        <servlet-class>AddDoctorScheduleServ1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitPatientAddServ</servlet-name>
        <servlet-class>AdmitPatientAddServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitPatientUpdateServ</servlet-name>
        <servlet-class>AdmitPatientUpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitDischargeServ</servlet-name>
        <servlet-class>AdmitDischargeServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitAllocateDocServ</servlet-name>
        <servlet-class>AdmitAllocateDocServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitAllocateBedServ</servlet-name>
        <servlet-class>AdmitAllocateBedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedServ</servlet-name>
        <servlet-class>FeedServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitAddBillServ</servlet-name>
        <servlet-class>AdmitAddBillServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitAddExpenseServ</servlet-name>
        <servlet-class>AdmitAddExpenseServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitAddPaymentServ</servlet-name>
        <servlet-class>AdmitAddPaymentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServ</servlet-name>
        <servlet-class>AppointmentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppServ1</servlet-name>
        <servlet-class>AppServ1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App2</servlet-name>
        <servlet-class>App2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeDelServ</servlet-name>
        <servlet-class>NoticeDelServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackReplyServ</servlet-name>
        <servlet-class>FeedbackReplyServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InBillPdf</servlet-name>
        <servlet-class>InBillPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillPDF</servlet-name>
        <servlet-class>BillPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServ</servlet-name>
        <url-pattern>/AdminServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeptServ</servlet-name>
        <url-pattern>/AddDeptServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocServ</servlet-name>
        <url-pattern>/AddDocServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDocServ</servlet-name>
        <url-pattern>/DelDocServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDeptServ</servlet-name>
        <url-pattern>/DelDeptServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDocServ</servlet-name>
        <url-pattern>/UpdateDocServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestServ</servlet-name>
        <url-pattern>/AddTestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelTestServ</servlet-name>
        <url-pattern>/DelTestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecTestServ</servlet-name>
        <url-pattern>/RecTestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpTestServ</servlet-name>
        <url-pattern>/UpTestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBedServ</servlet-name>
        <url-pattern>/AddBedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelBedServ</servlet-name>
        <url-pattern>/DelBedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBloodServ</servlet-name>
        <url-pattern>/AddBloodServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchBloodServ</servlet-name>
        <url-pattern>/DispatchBloodServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPathPatientServ</servlet-name>
        <url-pattern>/AddPathPatientServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePathPatientServ</servlet-name>
        <url-pattern>/UpdatePathPatientServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocatePathTestServ</servlet-name>
        <url-pattern>/AllocatePathTestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PathReportServ</servlet-name>
        <url-pattern>/PathReportServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorScheduleServ</servlet-name>
        <url-pattern>/AddDoctorScheduleServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServ</servlet-name>
        <url-pattern>/PDFServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServ1</servlet-name>
        <url-pattern>/PDFServ1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PathBillPDFCall</servlet-name>
        <url-pattern>/PathBillPDFCall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeServ</servlet-name>
        <url-pattern>/NoticeServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorScheduleServ1</servlet-name>
        <url-pattern>/AddDoctorScheduleServ1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitPatientAddServ</servlet-name>
        <url-pattern>/AdmitPatientAddServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitPatientUpdateServ</servlet-name>
        <url-pattern>/AdmitPatientUpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitDischargeServ</servlet-name>
        <url-pattern>/AdmitDischargeServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitAllocateDocServ</servlet-name>
        <url-pattern>/AdmitAllocateDocServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitAllocateBedServ</servlet-name>
        <url-pattern>/AdmitAllocateBedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedServ</servlet-name>
        <url-pattern>/FeedServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitAddBillServ</servlet-name>
        <url-pattern>/AdmitAddBillServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitAddExpenseServ</servlet-name>
        <url-pattern>/AdmitAddExpenseServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitAddPaymentServ</servlet-name>
        <url-pattern>/AdmitAddPaymentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServ</servlet-name>
        <url-pattern>/AppointmentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppServ1</servlet-name>
        <url-pattern>/AppServ1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App2</servlet-name>
        <url-pattern>/App2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeDelServ</servlet-name>
        <url-pattern>/NoticeDelServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackReplyServ</servlet-name>
        <url-pattern>/FeedbackReplyServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InBillPdf</servlet-name>
        <url-pattern>/InBillPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillPDF</servlet-name>
        <url-pattern>/BillPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
